<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--

  Want to contribute to this site? Take a look at the GitHub repository for this
  site: https://github.com/stellar/developers

  -->
  <title>{{ fullTitle }}</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="author" content="Stellar.org and contributors">

  <meta property="og:title" content="{{ fullTitle }}" />
  <meta property="og:type" content="website" />

  {{#if previewImage}}
    <meta property="og:image" content="https://www.stellar.org{{ pathPrefix }}/images/previews/{{previewImage}}"/>
    <meta itemprop="image" content="https://www.stellar.org{{ pathPrefix }}/images/previews/{{previewImage}}"/>
  {{/if}}

  <link rel="stylesheet" href="{{ pathPrefix }}/{{ fingerprint.[styles/index.css] }}" />

  <link rel="apple-touch-icon" sizes="144x144" href="{{ pathPrefix }}/images/favicon/rocket-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ pathPrefix }}/images/favicon/rocket-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ pathPrefix }}/images/favicon/rocket-180x180.png">
  <link rel="icon" type="image/png" href="{{ pathPrefix }}/images/favicon/rocket-96x96.png" sizes="96x96">
  <meta name="msapplication-TileImage" content="{{ pathPrefix }}/images/favicon/rocket-144x144.png">

  {{#frontmatterClientDataScript}}{{/frontmatterClientDataScript}}
</head>
<body>
