<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--

  Want to contribute to this site? Take a look at the GitHub repository for this
  site: https://github.com/stellar/developers

  -->
  <title>{{ fullTitle }}</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="author" content="Stellar.org and contributors">

  <meta property="og:title" content="{{ fullTitle }}" />
  <meta property="og:type" content="website" />

  {{#if previewImage}}
    <meta property="og:image" content="https://www.stellar.org{{ pathPrefix }}/images/previews/{{previewImage}}"/>
    <meta itemprop="image" content="https://www.stellar.org{{ pathPrefix }}/images/previews/{{previewImage}}"/>
  {{/if}}

  <link rel="stylesheet" href="{{ pathPrefix }}/{{fingerprint 'styles/index.css'}}" />

  <link rel="apple-touch-icon" sizes="144x144" href="{{ pathPrefix }}/images/favicon/rocket-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ pathPrefix }}/images/favicon/rocket-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ pathPrefix }}/images/favicon/rocket-180x180.png">
  <link rel="icon" type="image/png" href="{{ pathPrefix }}/images/favicon/rocket-96x96.png" sizes="96x96">
  <meta name="msapplication-TileImage" content="{{ pathPrefix }}/images/favicon/rocket-144x144.png">

  <style type="text/css">
    @font-face {
      font-display: block;
      font-family: suisse;
      src:
        url("/images/fonts/suisseintl-regular-webfont.woff") format("woff"),
        url("/images/fonts/suisseintl-regular-webfont.woff2") format("woff2");
      font-weight: 400;
    }
    @font-face {
      font-display: block;
      font-family: suisse;
      src:
        url("/images/fonts/suisseintl-semibold-webfont.woff") format("woff"),
        url("/images/fonts/suisseintl-semibold-webfont.woff2") format("woff2");
      font-weight: 500;
    }

    @font-face {
      font-display: swap;
      font-family: suisse-mono;
      src:
        url("/images/fonts/suisseintlmono-regular-webfont.woff") format("woff"),
        url("/images/fonts/suisseintlmono-regular-webfont.woff2") format("woff2");
      font-weight: 400;
    }
  </style>

  <script type="text/javascript">
    var $mcGoal = {'settings':{'uuid':'c001d97369b7a10d224c23867','dc':'us9'}};
    (function() {
      var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
      sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
    })();
  </script>

  {{#frontmatterClientDataScript}}{{/frontmatterClientDataScript}}

  <script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0065/1320.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
</head>
<body>
