<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--

  Want to contribute to this site? Take a look at the GitHub repository for this
  site: https://github.com/stellar/developers

  -->
  <title>{{ fullTitle }}</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="author" content="Stellar.org and contributors">

  <meta property="og:title" content="{{ fullTitle }}" />
  <meta property="og:type" content="website" />

  {{#if previewImage}}
    <meta property="og:image" content="{{ pathPrefix }}/images/previews/{{previewImage}}"/>
    <meta itemprop="image" content="{{ pathPrefix }}/images/previews/{{previewImage}}"/>
  {{/if}}

  <link rel="stylesheet" href="{{ pathPrefix }}/{{ fingerprint.[styles/index.css] }}" />

</head>
<body>
