---
title: Stellar Developers Documentation
previewImage: landing-2.png
---
{{> head}}
{{> header-full-with-sidebar}}

<div class="so-back hero spu-background-primary8 spu-padTop-40 spu-padBottom-30">
  <section class="so-chunk spu-padBottom-20">
    <h1 class="landing-sectionTitle">Stellar Documentation</h1>
    <p class="spu-centerBlock spu-centerText spu-fontSize-3 landing-lead">
      <span class="spu-lineFullL">Stellar is open-source, distributed payments infrastructure. Build affordable
        financial services.</span>
    </p>
  </section>

  <section class="so-chunk spu-padBottom-20">
    <div class="miniItems landing0616-introMini">
      <a href="{{pathPrefix}}/guides/get-started/" class="miniItems__item landing0616-introMini__item">
        <div>
          <span class="landing0616-circleNum">1</span>
        </div>
        <span class="graphic-network"></span>
        <p class="spu-padTop-10 spu-padBottom-20">Stellar Network Overview</p>
      </a>
      <a href="{{pathPrefix}}/guides/get-started/create-account.html"
        class="miniItems__item landing0616-introMini__item">
        <div>
          <span class="landing0616-circleNum">2</span>
        </div>
        <span class="graphic-checkId"></span>
        <p class="spu-padTop-10 spu-padBottom-20">Create an Account</p>
      </a>
      <a href="{{pathPrefix}}/guides/get-started/transactions.html" class="miniItems__item landing0616-introMini__item">
        <div>
          <span class="landing0616-circleNum">3</span>
        </div>
        <span class="graphic-money"></span>
        <p class="spu-padTop-10 spu-padBottom-20">Send and Receive Money</p>
      </a>
    </div>
  </section>

  <div class="spu-background-neutral9"></div>
</div>

<div class="so-back spu-padBottom-50">
  <section class="so-chunk spu-pad-20 flexCols flexCols--l spu-padBottom-10">
    <section class="flexCols__col flexCols--l__col spu-padTB-15 spu-padSE-10">
      <div class="landing0616-resLink">
        <div class="centerText">
          <span class="graphic-pageCode"></span>
        </div>
        <h2 class="spu-color-neutral4 landing0616-resTitle">Reference &amp; SDKs</h2>
      </div>
      <ul class="spu-color-primary4 landing0616-res">
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/horizon/reference/">REST API</a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/js-stellar-sdk/reference/">JavaScript SDK</a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/go/reference/">Go SDK</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/stellar/java-stellar-sdk">Java SDK</a></li>
      </ul>
      <div class="landing0616-resLink spu-padTop-15">
        <h2 class="spu-color-neutral4 landing0616-resTitle sub">Community SDKs</h2>
      </div>
      <ul class="spu-color-primary4 landing0616-res">
        <li class="landing0616-res__item"><a href="https://github.com/StellarCN/py-stellar-base">Python SDK</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/elucidsoft/dotnetcore-stellar-sdk">C# .NET Core
            2.0 SDK</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/bloom-solutions/ruby-stellar-sdk">Ruby SDK</a>
        </li>
        <li class="landing0616-res__item"><a href="https://github.com/Soneso/stellar-ios-mac-sdk">iOS and macOS SDK</a>
        </li>
        <li class="landing0616-res__item"><a href="https://github.com/synesso/scala-stellar-sdk">Scala SDK</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/bnogalm/StellarQtSDK">C++ SDK</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/Soneso/stellar_flutter_sdk">Flutter SDK</a></li>
      </ul>
    </section>

    <section class="flexCols__col flexCols--l__col spu-padTB-15 spu-padSE-10">
      <div class="landing0616-resLink">
        <div class="centerText">
          <span class="graphic-pageWriting"></span>
        </div>
        <h2 class="spu-color-neutral4 landing0616-resTitle">Guides</h2>
      </div>
      <ul class="spu-color-primary4 landing0616-res">
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/guides/get-started/">Get Started</a></li>
        <li class="landing0616-res__item"><a href="https://www.stellar.org/old-content/2016/08/Sending-Payment-Flow-Detailed.jpg">Sending Payments</a></li>
        <li class="landing0616-res__item"><a href="https://www.stellar.org/old-content/2016/08/Receiving-Payment-Flow-Detailed.jpg">Receiving Payments</a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/guides/walkthroughs/stellar-smart-contracts.html">Stellar Smart Contracts (SSCs)</a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/guides/walkthroughs/how-to-complete-stellar-toml.html">How and Why to Complete Your Stellar.toml</a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/guides/walkthroughs/connect-to-wallets.html">How To Connect Your Stablecoin to Stellar Wallets</a></li>
      </ul>
    </section>

    <section class="flexCols__col flexCols--l__col spu-padTB-15 spu-padSE-10">
      <div class="landing0616-resLink">
        <div class="centerText">
          <span class="graphic-pageSoftware"></span>
        </div>
        <h2 class="spu-color-neutral4 landing0616-resTitle">Software</h2>
      </div>
      <ul class="spu-color-primary4 landing0616-res">
        <li class="landing0616-res__item"><a href="https://hub.docker.com/r/stellar/quickstart/"><strong>Quickstart
              Docker</strong></a></li>
        <li class="landing0616-res__item"><a href="{{pathPrefix}}/stellar-core/software/admin.html">Stellar Core</a>
        </li>
        <li class="landing0616-res__item"><a href="https://github.com/stellar/go/tree/master/services/horizon">Horizon
            API Server</a></li>
        <li class="landing0616-res__item"><a
            href="https://github.com/stellar/go/tree/master/services/federation">Federation Server</a></li>
        <li class="landing0616-res__item"><a href="https://github.com/stellar/bridge-server">Bridge Server</a></li>
      </ul>
    </section>
  </section>
  <div class="landing0616-buildAppsSlant"></div>
</div>

<div style="display: none;" class="so-back landing0616-buildApps">
  <section class="so-chunk spu-pad-20 centerText spu-color-neutral9 landing0616-buildApps__chunk">
    <div class="spu-padBottom-20"><span class="graphic-prototypeGear"></span></div>
    <h2 class="landing-sectionTitle spu-color-neutral9">Develop the future of finance</h2>
    <p class="spu-fontSize-3 landing0616-buildApps__lead spu-padBottom-10">Build microsavings accounts for school fees
      or health insurance, or a Slack bot to report a transaction stream. Develop a project to enter in the <a
        href="https://www.stellar.org/lumens/build/">Stellar Build Challenge</a>.</p>
    <p>
      <a href="https://www.stellar.org/how-it-works/powered-by-stellar/"
        class="s-button landing0616-cta spu-textUppercase">Build Stellar Apps</a>
    </p>
  </section>
</div>
<div class="so-back spu-background-neutral8">
  <section class="so-chunk spu-padTop-30 spu-padBottom-30 centerText">
    <h2 class="landing-sectionTitle spu-padBottom-15">Don't see what you're looking for?</h2>
    <div class="halfSplit">
      <div class="halfSplit__half">
        <p class="spu-fontSize-3">Ask questions and get in touch with 1000+ developers.</p>
        <div class="miniItems landing0616-lookMini">
          <a href="https://keybase.io/team/stellar.public" class="miniItems__item landing0616-lookMini__item">
            <span class="graphic-ldarkKeybase landing0616-lookMini__item__graphic"></span>
            <p>Keybase</p>
          </a>
          <a href="https://stellar.stackexchange.com/" class="miniItems__item landing0616-lookMini__item">
            <span class="graphic-ldarkStackExchange landing0616-lookMini__item__graphic"></span>
            <p>StackExchange</p>
          </a>
        </div>
      </div>
      <div class="halfSplit__divider">
      </div>
      <div class="halfSplit__half">
        <p class="spu-fontSize-3">Find more information and contact us in other Stellar channels.</p>
        <div class="miniItems landing0616-lookMini">
          <a href="https://github.com/stellar" class="miniItems__item landing0616-lookMini__item">
            <span class="graphic-ldarkGithub landing0616-lookMini__item__graphic"></span>
            <p>GitHub</p>
          </a>
          <a href="https://www.stellar.org/developers/blog/" class="miniItems__item landing0616-lookMini__item">
            <span class="graphic-ldarkPaper landing0616-lookMini__item__graphic"></span>
            <p>Dev blog</p>
          </a>
          <a href="https://twitter.com/stellarorg" class="miniItems__item landing0616-lookMini__item">
            <span class="graphic-ldarkTwitter landing0616-lookMini__item__graphic"></span>
            <p>Twitter</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="so-back">
  <div class="so-chunk spu-padTB-15 spu-maxWidth-40">
    {{> modules/dev-newsletter}}
  </div>
</div>

{{> footer }}
{{> foot}}
